Source: klatch
Section: kde
Priority: optional
Maintainer: Frank S. Thomas <fst@debian.org>
Build-Depends: debhelper (>= 9), cmake (>= 2.6), kdelibs5-dev
Standards-Version: 3.9.3
Vcs-Git: git://github.com/fthomas/klatch.git
Vcs-Browser: https://github.com/fthomas/klatch

Package: klatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DICT client for KDE
