#!/usr/bin/make -f

# Comment out to compile/test with gcc-snapshot.
export  CC=/usr/lib/gcc-snapshot/bin/gcc
export CXX=/usr/lib/gcc-snapshot/bin/g++
export CPP=/usr/lib/gcc-snapshot/bin/cpp

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- all #ut

override_dh_auto_test:
