#!/usr/bin/make -f

# Comment out to compile/test with gcc-snapshot.
export  CC=/usr/lib/gcc-snapshot/bin/gcc
export CXX=/usr/lib/gcc-snapshot/bin/g++
export CPP=/usr/lib/gcc-snapshot/bin/cpp

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- all #ut
